$custom-green: #6c9772
$custom-brown: #bb8a52
    
body
    margin: 0

.auth

    font-family: 'GothamPro-Bold' sans-serif
    margin: 0
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

    .auth__heroimg

        text-align: center
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 317px
        background-image: url(../image/Blur_12_Notcut.jpg)
        background-size: cover

        .auth__logo
            display: inline-block
            position: relative
            top: 50%
            transform: translateY(-50%)
            h1
                margin: 0
                font-size: 140px
                color: #f7f7f7
            .auth__line
                height: 9px
                width: 280px
                background: #f7f7f7
                border-radius: 3px
                display: inline-block


    .auth__info

        display: flex
        position: absolute
        bottom: 0
        justify-content: space-between
        background-color: #f0f0f0
        height: 317px

        .auth__about

            margin: 0
            background-color: #ffffff
            border-radius: 15px
            margin: 30px 40px
            padding-left: 50px
            padding-right: 80px
            box-shadow: 0 0 18px rgba(0,0,0,0.1)
            color: #434748
            overflow-y: auto
            padding-top: 10px

            h3
                font-weight: 700
                font-size: 33px
                margin: 0

            .orange
                color: #ffb902
                font-weight: bold
            ul
                list-style: none
                margin: 15px 0
                padding: 0
                li
                    margin: 15px 0

        .auth__auth-reg

            display: flex
            flex-direction: column
            justify-content: space-around
            padding: 55px 0

            a
                text-decoration: none

            .link-button
                height: 50px
                width: 200px
                font-size: 20px
                border-radius: 15px
                text-align: center
                padding: 10px 40px
                margin-left: 30px
                box-shadow: 0 0 18px rgba(0,0,0,0.3) 
                display: block
                color: white
                font-weight: bold
                transition-duration: 0.3s
                
                line-height: 50px
            .auth__enter
                background-color: $custom-green
            .auth__enter:hover
                background-color: darken($custom-green, 25%)
            .auth__registration
                background-color: $custom-brown
            .auth__registration:hover
                background-color: darken($custom-brown, 25%)
