body {
  margin: 0; }

.auth {
  font-family: 'GothamPro-Bold' sans-serif;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.auth .auth__heroimg {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 317px;
  background-image: url(../image/Blur_12_Notcut.jpg);
  background-size: cover; }

.auth .auth__heroimg .auth__logo {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.auth .auth__heroimg .auth__logo h1 {
  margin: 0;
  font-size: 140px;
  color: #f7f7f7; }

.auth .auth__heroimg .auth__logo .auth__line {
  height: 9px;
  width: 280px;
  background: #f7f7f7;
  border-radius: 3px;
  display: inline-block; }

.auth .auth__info {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  background-color: #f0f0f0;
  height: 317px; }

.auth .auth__info .auth__about {
  margin: 0;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 30px 40px;
  padding-left: 50px;
  padding-right: 80px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  color: #434748;
  overflow-y: auto;
  padding-top: 10px; }

.auth .auth__info .auth__about h3 {
  font-weight: 700;
  font-size: 33px;
  margin: 0; }

.auth .auth__info .auth__about .orange {
  color: #ffb902;
  font-weight: bold; }

.auth .auth__info .auth__about ul {
  list-style: none;
  margin: 15px 0;
  padding: 0; }

.auth .auth__info .auth__about ul li {
  margin: 15px 0; }

.auth .auth__info .auth__auth-reg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 55px 0; }

.auth .auth__info .auth__auth-reg a {
  text-decoration: none; }

.auth .auth__info .auth__auth-reg .link-button {
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 15px;
  text-align: center;
  padding: 10px 40px;
  margin-left: 30px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  display: block;
  color: white;
  font-weight: bold;
  transition-duration: 0.3s;
  line-height: 50px; }

.auth .auth__info .auth__auth-reg .auth__enter {
  background-color: #6c9772; }

.auth .auth__info .auth__auth-reg .auth__enter:hover {
  background-color: #364d3a; }

.auth .auth__info .auth__auth-reg .auth__registration {
  background-color: #bb8a52; }

.auth .auth__info .auth__auth-reg .auth__registration:hover {
  background-color: #664928; }
